.ControllerWrapper {
    
}

.SubWrapper {
    display: flex;
    background-color: cadetblue;
}

.FlightController {
    background-color: navy;
    display: flex;
    flex-direction: column;
}

.Emergency {
    display: flex;
    justify-content: center;
    background-color: red;
    min-width: 400px;
}

.FlightStatus {
    display: flex;
    justify-content: center;
    background-color: greenyellow;    
}

.FlightData {
    align-self: center;
}